.card-container {
    background: var(--black);
}

.characters-list {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.character-card {
    border: 2px solid var(--orange);
    padding: 10px;
    width: 350px;
    display: flex   ;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.character-card p{
    color: var(--orange);
}
.character-photo {
    display: block;
    width: 100%;
    height: 200px;
    margin: 0 auto;
}

.character-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
